*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    min-height: 100vh;
}
body h1{
    font-size: 2rem;
}
body h3{
    font-size: 1.25rem;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 5% 0px 5%;
    align-items: center;
    height: 9vh;
    background-color: black;
    color: white;
}

nav button{
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: black;
    border: solid 2px white;
}

nav button:nth-child(2){
    background-color: #4b5fd6;
    border: solid #4b5fd6;
    padding: 10px 20px;
    margin-left: 6px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 36vh;
    background-color: #dabdf1;
    justify-content: center;
}

header div{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
    
}

header >div >div {
    display: flex;
    flex-direction: row;
    height: 6vh;
    width: 50vw;
    box-shadow: 0px 3px 6px;
    /* border: solid 3px #dabdf1; */
    border-radius: 5px;
    background-color: white;
}

header >div >div> input{
    height: 6vh;
    width: 45vw;
    border: none;
    outline: none;
    padding: 0px 0px 0px 10px;
    border-radius: 7px 0px 0px 7px;
}

header >div >div> button{
    width: 5vw;
    color: black;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 0px 7px 7px 0px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
}
main >div{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 40px 30px 40px 30px;
    /* max-width: 80vw; */
}


main >div>div{
    display: flex;
    column-gap: 10px;
    /* width: 35vw;
    min-height: 25vh; */
}

main div div img{
    height: 8vh;
}

main >div>div>div >a{
    text-decoration: none;
    color: royalblue;
}
/* probleme d ajustement */
.main1{
    margin-top: 70px;
    align-self: self-start;
}


.dev1{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    
}

.dev2{
    margin-top: 20vh;
}

.div3{
    display: flex;
}

.div3 label{
    margin-left: 0.4vw;
}

.svg1{
    color: #4b5fd6;
}

.svg2{
    color: #4b5fd6;
}

footer{
    background-color: black;
    display: flex;
    color: white;
    padding: 20px 20px;
    justify-content: space-around;
    column-gap: 3vw;
}

@media (max-width:600px){

    #div4{
        display: flex;
        gap: 0.1vw;
    }
    nav{
        height: 15vh;
    }
    main div div{
        display: flex;
        flex-direction: column;
    }
    main div div img{
        width: 10vw;
        height: 10vw;
        justify-self: center;
    }
    header div div{
        width: 60vw;
    }
    
    header >div >div> input{
        position: relative;
        left: 1%;
    }
    header div div button{
        position: relative;
        left: 15%;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
    }

/* @media (max-width: 320px){
    main div{
        display: flex;
        flex-direction: column;
    }
} */

}
